.billing {
	display: flex;

	&__inner {
		width: 100%;
		max-width: 660px;
	}

	&__top {
		margin-bottom: 40px;
		padding-left: 30px;
	}

	&__bottom {
		padding-left: 30px;
	}

	&__title {
		margin-bottom: 40px;
		font-size: 18px;
		font-weight: 700;
	}

	&__wrapper {
		max-width: 552px;
		margin-bottom: 40px;
		padding: 26.5px 30px;
		border: 1px solid #cfcfcf;
		box-shadow: 0 0 32px rgba(0, 0, 0, 0.19);
		border-radius: 5px;
	}

	&__radios {
		display: flex;
		align-items: center;
	}

	&__radio,
	&__checkbox {
		label {
			position: relative;
			display: flex;
			align-items: center;

			&:hover {
				opacity: 0.8;
			}

			&::before {
				content: '';
				display: inline-block;
				width: 18px;
				height: 18px;
				margin-right: 10px;
				border: 1px solid #cfcfcf;
			}

			&::after {
				content: '';
				position: absolute;
				left: 5px;
				top: 50%;
				transform: translateY(-50%);
				display: block;
				width: 8px;
				height: 8px;
			}
		}

		input:checked ~ label::after {
			background-color: $primary-color;
		}
	}

	&__radio {
		&:not(:last-child) {
			margin-right: 80px;
		}

		label {
			&::before,
			&::after {
				border-radius: 100%;
			}
		}
	}

	&__checkboxes {
		margin-bottom: 40px;
	}

	&__checkbox {
		color: #8c8c8c;

		&:not(:last-child) {
			margin-bottom: 12px;
		}

		a {
			color: #000;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__fields {
		display: flex;

		.billing {
			&__field {
				&:not(:last-child) {
					margin-right: 30px;
				}
			}
		}
	}

	&__field {
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;

		&_more {
			flex-direction: row;
			flex-wrap: wrap;

			.billing__label {
				width: 100%;
			}
		}
	}

	&__label {
		margin-bottom: 5px;
		font-weight: 500;
		font-size: 12px;
		color: #555770;

		&:hover {
			opacity: 0.8;
		}
	}

	&__input {
		&_wide {
			width: 100%;
		}

		&:not(.billing__input_wide) {
			width: 100px;

			&:not(:last-child) {
				margin-right: 30px;
			}
		}
	}

	&__has-tooltip {
		display: flex;
		align-items: center;
		width: 100%;
		margin-bottom: 5px;

		.billing__label {
			width: auto;
			margin-right: 5px;
			margin-bottom: 0;
		}
	}

	&__buttons {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	@include min-screen($large-desktop) {
		justify-content: center;
	}
}
