.stages {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 60px;

	&__item {
		position: relative;

		&_past {
			.stages__number {
				background-color: $primary-color;
			}
		}

		&_current {
			.stages__number {
				border-color: $primary-color;
				color: $primary-color;
			}
		}

		&_next {
			.stages__number {
				border-color: #d5d5d5;
				color: #d5d5d5;
			}
		}
	}

	&__number {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 18px;
		height: 18px;
		margin-bottom: 5px;
		border: 1px solid transparent;
		border-radius: 50%;
		font-size: 10px;
		color: #ffffff;
		background-color: #fff;
	}

	&__line {
		width: 100%;
		height: 1px;

		&_past {
			background-color: $primary-color;
		}

		&_current {
			background-color: #d5d5d5;
		}
	}

	&__text {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
}
