.button {
	padding: 11.5px 30px;
	border-radius: 3px;
	border: 1px solid transparent;
	text-align: center;

	&:hover {
		opacity: 0.8;
	}

	&_border {
		border-color: #cfcfcf;
		background-color: #fff;
	}

	&_primary {
		background-color: $primary-color;
		color: #fff;
	}
}
