.header {
	position: relative;
	z-index: 1;
	padding: 21px 30px;
	border-bottom: 1px solid #cfcfcf;
	background-color: #fff;

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		&:hover {
			fill: $primary-color;
		}
	}

	&__buttons {
		display: flex;
		align-items: center;
	}

	&__button {
		background-color: transparent;
		border: 1px solid transparent;

		&:hover {
			fill: $primary-color;
		}

		svg {
			background-color: transparent;
		}
	}

	&__search {
		margin-right: 25px;
	}

	&__cart {
		position: relative;
	}

	&__count {
		position: absolute;
		top: -5px;
		right: -5px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 13px;
		height: 13px;
		background-color: $primary-color;
		border-radius: 100%;
		color: #fff;
		font-size: 10px;
	}

	&__hamburger {
		display: none;
	}

	@include ipad {
		&__cart {
			margin-right: 25px;

			&:hover {
				fill: #000;
			}

			&.active {
				fill: $primary-color;
			}
		}

		&__wrapper {
			background-color: #fff;
			z-index: 1;
		}

		&__menu {
			position: absolute;
			right: -100%;
			transition: right $default-transition-duration;
			opacity: 0;

			&.active {
				top: 80px;
				right: 0;
				width: 100%;
				z-index: 2;
				background-color: #fff;
				border-bottom: 1px solid #cfcfcf;
				opacity: 1;
			}
		}

		&__hamburger {
			display: block;
			position: relative;
			min-width: 29px;
			min-height: 22px;

			&:hover {
				fill: #000;
			}

			&.active {
				fill: $primary-color;

				.header__hamburger-close {
					transform: translateX(-50%) translateY(-50%) scale(1);
				}

				.header__hamburger-open {
					transform: translateX(-50%) translateY(-50%) scale(0);
				}
			}

			&-close,
			&-open {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translateX(-50%) translateY(-50%);
				transition: fill $default-transition-duration, stroke $default-transition-duration,
				transform $default-transition-duration;
			}

			&-close {
				transform: scale(0);
			}
		}
	}
}
