.tooltip {
	display: inline-block;
	position: relative;

	&:hover {
		.tooltip__text {
			transform: translateX(-50%) scale(1);
			pointer-events: auto;

			&:after {
				pointer-events: auto;
			}
		}
	}

	&__trigger {
		width: 13px;
		height: 13px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #dbdbdb;
		font-size: 10px;
		border-radius: 100%;
	}

	&__text {
		position: absolute;
		pointer-events: none;
		min-width: 100px;
		left: 50%;
		transform: translateX(-50%) scale(0);
		bottom: calc(100% + 5px);
		padding: 5px;
		border-radius: 3px;
		background-color: #fff;
		box-shadow: 0 0 16px rgba(0, 0, 0, 0.19);
		text-align: center;
		transition: transform 0.3s;
		z-index: 1;

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			display: block;
			left: 50%;
			transform: translateX(-50%);
			width: 100px;
			height: 100%;
			background-color: transparent;
			pointer-events: none;
			z-index: -1;
		}
	}
}
